<html>
    <head>
        <title>Administrator Max GPA Menu</title>
        </head>
        <link rel = "stylesheet" href="stylemain.css"/>
    <body>
        <h1>Administrator Menu</h1>
        <a href="index.html" class="button">Back</a>
        <div id="space"></div>
        <div id="inputPanel">
            <p> Upload CSV:</p>
            <div id="csvPreview">
                <input type="file" id="csvFile" accept=".csv">
            </div>
            <!--  /* grade data upload and degree upload (have text box for selecting major) data */   -->
            <!-- javascript code for showing sample output after upload-->
        </div>
    </body>
</html>