<html>
    <head>
        <title>Max GPA Calculator</title>
        </head>
        <link rel = "stylesheet" href="stylemain.css"/>
    <body style="background-color: rgb(232, 246, 228);">
        <h1>Max GPA Calculator</h1>
        <div id="space"></div>
        <div id="inputPanel">
            <p> Select Role: </p>
            <select name="Role" id="roleDropdown">
                <option value="student">Student</option>
                <option value="admin">Admin</option>
            </select>
            <button onclick="gotoMenu()" id="submitBtn">Submit</button>

        </div>
    </body>
    <script>
    function gotoMenu() {
        var role = document.getElementById("roleDropdown").value;
        if (role === "student") {
            window.location.href = "student.html";
        } else if (role === "admin") {
            window.location.href = "admin.html";
        }
    }
    </script>
</html>