<html>
    <head>
        <title>Max GPA Calculator</title>
        </head>
        <link rel = "stylesheet" href="stylemain.css"/>
    <body>
        <h1>Max GPA Calculator</h1>
        <div id="space"></div>
        <div id="inputPanel">
            <p> Select Role: </p>
            <select name="Role" id="roleDropdown">
                <option value="student">Student</option>
                <option value="admin">Admin</option>
            </select>
            <p> Select Year: </p>
            <select name="Years" id="yearDropdown">
                <option value="16">2016-2017</option>
                <option value="17">2017-2018</option>
                <option value="18">2018-2019</option>
                <option value="19">2019-2020</option>
                <option value="20">2020-2021</option>
                <option value="21">2021-2022</option>
                <option value="22">2022-2023</option>
                <option value="23">2023-2024</option>
            </select>
            <button id="submitBtn">Submit</button>
        </div>
    </body>
</html>