<html>
    <head>
        <title>Student Max GPA Menu</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylemain.css') }}"/>
        </head>
    <body>
        <h1>Student Menu</h1>
        <a id="backtext" href="/" class="button">Back</a>
        <div id="space"></div>
        <div id="inputPanel">
            <p> Select Year Range: </p>
            <p id="description">
                (Note: These are academic years, which start in Fall term.<br>For example, "AY20" includes data from Fall 2020 to Summer 2021.)
            </p>
            <div id="yearRangePanel">
                <select name="YearS" id="yearSDropdown">
                    {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
                -
                <select name="YearE" id="yearEDropdown">
                    {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <p> Select Degree: </p>
            <select name="Major" id="roleDropdown">
                {% for degree in degrees %}
                <option value="{{ degree[0] }}">{{ degree[1] }}</option>
                {% endfor %}
            </select>

            <button onclick="generatePDF()" id="PDFbtn">Generate PDF</button>
        </div>
        <div id="loadingScreen">
            <p id="loadingText">Generating PDF, please wait...</p>
        </div>
    </body>
    <script>
        function generatePDF() {
            // Ensure that start year is not after end year
            var yearStart = document.getElementById("yearSDropdown").value;
            var yearEnd = document.getElementById("yearEDropdown").value;
            if (yearStart > yearEnd) {
                alert("Error: Start year can't be after end year.");
                return;
            }

            // Display loading screen
            document.getElementById("loadingScreen").style.display = "block";
            // Change the number of periods in the loading text every 500ms (simple animation effect)
            var loadingText = document.getElementById("loadingText");
            var periodCount = 0;
            setInterval(function() {
                periodCount = (periodCount % 4) + 1; // Cycle through 1 to 4 periods
                loadingText.textContent = "Generating PDF, please wait" + ".".repeat(periodCount);
            }, 500);

            // Redirect to URL that generates PDF report based on selected year range & degree
            var major = document.getElementById("roleDropdown").value;
            var url = `/download-report?year_from=${yearStart}&year_to=${yearEnd}&degree_id=${major}`;
            window.location.href = url;
        }
    </script>
</html>