<html>
    <head>
        <title>Student Max GPA Menu</title>
        </head>
        <link rel = "stylesheet" href="stylemain.css"/>
    <body>
        <h1>Student Menu</h1>
        <a href="index.html" class="button">Back</a>
        <div id="space"></div>
        <div id="inputPanel">
            <p> Select Major: </p>
            <select name="Major" id="roleDropdown">
                <option value="Accounting">Accounting</option>
                <option value="Business">Business</option>
                <option value="Computer Science">Computer Science</option>
            </select>
            <button id="PDFbtn">Generate PDF</button>
        </div>
        
    </body>
</html>