h1{
    font-size: 3rem;
    margin-top: 1rem;
    font-family: UnitedSansReg-Heavy, Veranda, sans-serif;
    text-decoration: underline;
    text-align: center;
    color: rgb(46, 84, 45);
}

#space{
    padding: 1.5rem;
}
p{
    font-size:1.3rem;
}

#backtext{
    font-size:1.5rem;
    font-family: UnitedSansReg-Heavy, Veranda, sans-serif;
    color: rgb(56, 94, 55);
    text-decoration: underline;
    margin-left: 2rem;
}
#backtext:hover{
    cursor: pointer;
    color: rgb(76, 154, 75);
}

#inputPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(180, 222, 236);

    margin: 0 auto;
    padding: 4rem;
    width: 50vw;
    height: 15rem;
        
    border-radius: 0.7rem;
    border-style: solid;
    border-color: rgb(113, 125, 145);
    border-width: 0.1rem;
    font-family: SourceSansPro-Regular, Veranda, sans-serif;
    
}
#inputPanel * {
    margin: 20px;
}
#roleDropdown{
    margin-top:-0.5rem;
    font-size:1rem;
}
#yearDropdown{
    margin-top:-0.5rem;
    font-size:1rem;
}
#roleDropdown:hover{
    cursor:pointer;
}
#yearDropdown:hover{
    cursor:pointer;
}
#submitBtn {
    width: 200px;
    margin-top: 55px;
    padding: 10px;
    text-align: center;
    border-block-color: black;
    font-family:UnitedSansReg-Heavy, Veranda;
    font-size:2rem;
    color: rgb(26, 64, 25);

}
#submitBtn:hover {
    cursor: pointer;
}

@font-face {
  font-family: 'UnitedSansReg-Heavy';
  src: url('https://static.wfonts.com/data/2016/05/23/united-sans-reg/UnitedSansReg-Heavy.woff') format('woff');
  font-display: swap;
}

#preview-render {
  font-family: 'UnitedSansReg-Light', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 32px;
  color: #373c44;
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('https://static.wfonts.com/data/2016/07/23/source-sans-pro/SourceSansPro-Regular.otf') format('otf');
  font-display: swap;
}

#preview-render {
  font-family: 'SourceSansPro-Regular', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 32px;
  color: #373c44;
}